@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: crimson;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

div.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

div.continent-card {
  width: 11rem;
  height: 12rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid gainsboro;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;
}

div.continent-img {
  position: absolute;
  z-index: 0;
  top: 0;
  width: inherit;
  height: inherit;
}

div.continent-img img {
  width: 12rem;
  opacity: 0.2;
}

div.continent-card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  z-index: 10;
}

p.continent-p {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

a.continent-btn {
  text-decoration: none;
  color: #fff;
  background-color: rgb(65, 6, 18);
  width: 70%;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  z-index: 10;
  transition: all ease-out 0.5s;
}

a.continent-btn:hover {
  background-color: rgb(108, 18, 36);
}
